html {
  font-size: 14px;
}

header {
  background: #f7ab35;
  background-image: linear-gradient(236.07deg,#f7ab35 .09%,#e8521e 102.47%);
  color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


.logIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f7ab35;
  background-image: linear-gradient(236.07deg,#f7ab35 .09%,#e8521e 102.47%);
}

/* animacion logo */
.logo-animation {
  animation: logo 1.8s forwards;
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.formulario {
  animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mantine-ActionIcon-root:hover {
  scale: 1.1;
}

.logoApp:hover {
  scale: 1.1;
  transition: 0.4s;
}

.logoApp {
  transition: 0.4s;
}

.match {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-top: 1px solid #e8e8e8;
  padding: 9px;
}

.match > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.match .initials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.match .initials.team2 {
  justify-content: flex-start;
}


.containerCalendar {
  border-radius: 8px;
  width: 95%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 1rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.titleCalendar {
  text-align: center;
  color: white;
  background-color: black;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px;
  padding: 5px;
}

.jornadaInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.jornadaInfo div {
  display: flex;
  flex-direction: column;
}

.jornadaInfo div span {
  text-align: center;
}

.titleJornada {
  font-weight: 500;
}

.dateJornada {
  font-size: 12;
}

.score {
  border-radius: 5px;
  background: #f7ab35;
  background-image: linear-gradient(236.07deg,#f7ab35 .09%,#e8521e 102.47%);
  color: white;
}

.dateScore {
  border-radius: 5px;
  background-color: #e3e3e3;
}

.cardMain{
  padding: 0 !important;
  height: 0 !important;
  width: auto;
}

/*Escudos de los equipos de clasificación*/
.shieldTeam{
  width: 20%;
}

.tdimg{
  width: 10%;
  vertical-align: middle;
}
.tdteam{
  width: 20%;
}
.gf{
  width: 10%;
}
