a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

header {
  background: #f7ab35;
  background-image: linear-gradient(236.07deg,#f7ab35 .09%,#e8521e 102.47%);
  color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


.logIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f7ab35;
  background-image: linear-gradient(236.07deg,#f7ab35 .09%,#e8521e 102.47%);
}

/* animacion logo */
.logo-animation {
  animation: logo 1.8s forwards;
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.formulario {
  animation: fadeUp 1s ease-in-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mantine-ActionIcon-root:hover {
  scale: 1.1;
}

.logoApp:hover {
  scale: 1.1;
  transition: 0.4s;
}

.logoApp {
  transition: 0.4s;
}

.groupJornada {
  gap: 4rem !important;
}